@model WebApplication2.Models.TipCalculator

@{
    ViewData["Title"] = "Price Quotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tip Calculator</h1>

<form asp-action="Calculate">
    <div>
        <label for="CostofMeal">
            Cost of meal:
            <input type="text" asp-for="CostofMeale" />
            <span asp-validation-for="CostofMeale"></span>
        </label>  
    </div>
    <div class="button-container">
    @if (Model != null)
        {
            <p>15% Tip: @Model.CostofMeale1.ToString("C")</p>
            <p>20% Tip: @Model.CostofMeale2.ToString("C")</p>
            <p>25% Tip: @Model.CostofMeale3.ToString("C")</p>

        }
        <button type="submit">Calculate</button>
        <a asp-action="Clear">Clear</a>
    </div>
</form>

