<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Tip Calculator</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
